body {
    background: url("assets/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    align-content: center;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-family: 'Germania One', cursive;
    text-decoration: none;
}

p {
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    float: left;
    padding: 3%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 15%;
    align-content: center;
    text-align: center;
    width: 60px;
}

li a {
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
    color: black;
    align-content: center;
    text-align: center;
}

div {
    padding-left: 15%;
    padding-right: 15%;
    align-content: center;
}

div.contentcontainer {
    height: auto;
    padding-right: 0;
    padding-left: 0;
    background-color: rgba(210, 68, 13, 0.94);
    border-radius: 10%;
    clear: both;
}

.artistdescription {
    width: 60%;
    float: left;
    clear: left;
}

.artistcontent {
    padding-right: 0;
    padding-left: 0;
    clear: both;
}

.artistPhoto {
    float: right;
    height: 20%;
    width: 30%;
    clear: right;
    border-radius: 50%;
}

.artistPhotoDropDown {
    height: 50%;
    width: 70%;
}

div.contentDiv {
    align-content: center;
}

hr {
    display: block;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
}

hr2 {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(234, 65, 11, 0.89);
}

#indexImage {
    align-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    width: 70%;
}

.button {
    font-family: 'Germania One', cursive;
    text-decoration: none;
    background-color: #f4b942;
    align-content: center;
    color: #333;
    padding: 10px 10px 10px 10px;
    border: 0.5px solid #000;
    border-top-style: inset;
    border-radius: 5px;
}

.button:hover {
    background-color: #a57d2b;
    color: #FFFFFF;
}

.dropdown {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(234, 65, 11, 0.89);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

.ticketsDiv {
    text-align: center;
    transition: transform 1s;
    padding-right: 0;
    padding-left: 0;
}

.ticketsDiv img {
    transition: transform 0.8s;
    height: 70%;
    width: 100%;

}

.ticketsDiv img:hover {
    transform: translate(0, -10px);
}

h1 {
    font-family: 'Germania One', cursive;
    font-size: 4vw;
}

.faq {
    width: 500px;
    height: 130px;
    /*height: 18.6%;*/
    border: 1px solid #000;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
}

.faqleft {
    float: left;
}

.faqright {
    float: right;
    height: 120px;
}

.faq img {
    position: relative;
    width: 100%;
    top: 0px;
    transition: top .2s ease-in-out;
}

.faq img:hover {
    top: -150px;
}

#shoppingCart {
    position: relative;
    float: right;
    padding-right: 5%;
    transition-timing-function: linear;
    transition: transform 1s;
}

#shoppingCart:hover {
    transform: rotate(10deg);
}

#shoppingCartIcon {
    width: 60px;
    height:60px;

}
.cartAmount {
    background-color: #fa3e3e;
    color: white;
    padding: 3px 3px;
    font-size: 10px;
    padding-right: 2%;
    border-radius: 10%;
    float: right;
    position: absolute;
    top: 0;
    right: 50px;
}

.ticketImage {
    float: left;
    margin-left: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    height:30%;
    width: 50%;
}

.ticketAmount {
    background-color: #333;
    padding: 8%;
    margin: 0;
    float: right;
    text-align: center;
    color: grey;
    font-size: 300%;
    border-radius: 50%;
}

#totalCart {
    float: left;
    font-size: 300%;
}

.ticketButtons {
    background-color: #333;
    color: white;
    border-radius: 15%;
    margin: 0;
    padding: 1%;
}

.billingInfoContainer {
    width: 60%;
    align-content: center;
    clear: both;
}

.billingInfoContainer input {
    width: 100%;
    clear: both;
}

#completePurchase {
    float: right;
    margin-top: 8%;
    padding-right: 5%;
    padding-left: 5%;
    width: 20%;
    text-align: center;
}

#resetCart {
    float: right;
    margin: 0;
    padding: 2%;
    margin-top: 2%;
}

#h2Cart {
    float: left;
}

#overviewPurchase {
    font-size: 150%;
    text-align: center;
}

#purchaseButton {
    text-align: center;
}

/*layout to fit the phone screens better*/
@media all and (max-width: 500px) {
    .artistdescription {
        font-size: large;
        width: 100%;
        float: none;
    }

    .artistcontent {
        padding-right: 0;
        padding-left: 0;
    }

    .artistPhoto {
        height: 30%;
        width: 100%;
        float: none;
    }


    .dropdown:hover .dropdown-content {
        display: none;
    }

    nav {
        text-align: center;
        margin-top: 10px;
        float: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }

    li {
        width: 100%;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #indexImage {
        float: none;
        align-content: center;
        align-items: center;
        width: 100%;
        border-radius: 20%;
    }

    .faq {
        width: 100%;
        height: 250px;
        float: none;
    }

    .faqleft {
        float: none;
    }

    .faqright {
        float: none;
    }

    h1 {
        font-size: 7vw;
    }

    #completePurchase {
        width: 100%;
    }

    .ticketAmount {
        background-color: #333;
        padding: 5%;
        margin: 0;
        float: right;
        text-align: center;
        color: grey;
        font-size: 150%;
    }

    #resetCart {
        width: 95%;
        align-content: center;
        text-align: center;
        margin-bottom: 5%;
    }

    .billingInfoContainer {
        width: 60%;
        align-content: center;
        clear: both;
    }

    .billingInfoContainer input {
        width: 100%;
        clear: both;
    }

    #billingHeader {
        font-size: smaller;
    }

    .faq img:hover {
        top: 0;
    }
}

/*layout for tables/ipads*/
@media all and (max-width: 1024px) {


    .artistdescription {
        font-size: large;
        width: 100%;
        float: none;
    }

    .artistcontent {
        padding-right: 0;
        padding-left: 0;
    }

    .artistPhoto {
        height: 30%;
        width: 100%;
        float: none;
    }


    .dropdown:hover .dropdown-content {
        display: none;
    }



    #indexImage {
        float: none;
        align-content: center;
        align-items: center;
        width: 100%;
        border-radius: 20%;
    }

    nav {
        text-align: center;
        margin-top: 10px;
        float: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }

    li {
        width: 100%;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .faq {
        width: 100%;
        height: 130px;
        float: none;
    }

    .faqleft {
        float: none;
    }

    .faqright {
        float: none;
    }

    #completePurchase {
        width: 100%;
    }

    .ticketAmount {
        background-color: #333;
        padding: 7%;
        margin: 0;
        float: right;
        text-align: center;
        color: grey;
        font-size: 200%;
    }

    #resetCart {
        width: 95%;
        align-content: center;
        text-align: center;
        margin-bottom: 5%;
    }

    .billingInfoContainer {
        width: 60%;
        align-content: center;
        clear: both;
    }

    .billingInfoContainer input {
        width: 100%;
        clear: both;
    }

    #billingHeader {
        font-size: medium;
    }

    #totalCart {
        float: none;
        text-align: center;
    }

    .faq img {
        width: 100%;
        height: 100%;
    }
    .faq img:hover {
        top: 0;
    }
}

#schedule {
    width: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    border-collapse: collapse;
}
th, td {
    border: 2px dotted black;
    padding: 10px;
    text-align: left;
}





